{%block content%}
{%endblock%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="text-center text-lg-start bg-dark text-white">
    <div class="container d-flex justify-content-center justify-content-lg-between p-4">
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with me on social networks:</span>
      </div>
        <a href="https://wa.me/+917418396796" target="_blank" class="me-4 text-reset"><i class="fa fa-whatsapp"></i></a>
        <a href="https://mail.google.com" class="me-4 text-reset"><i class="fa fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/sudarson-bharathwaaj-b8227b254/" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/Sudarson10" class="me-4 text-reset"><i class="fa fa-github"></i></a>
      </div>
    </div>
  
    <section class="py-5">
      <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
              <!-- First Column -->
              <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">
                      <i class="fa fa-cart-plus"></i>VS Foods
                  </h6>
                  <p>
                    From cravings to discovery – explore delicious meals tailored to you!
                  </p>
                  <p>
                      Savor Every Moment in Your Wellness Journey.
                  </p>
                  <p>
                      Taste the Rich Flavors of Every Moment.
                  </p>
              </div>
    
              <!-- Second Column -->
              <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fa fa-cart-plus"></i> VS Foods
                  </h6>
                  <p class="text-reset">Discover new flavors with personalized food suggestions.</p>
                  <p class="text-reset">Get recommendations tailored to your tastes instantly.</p>
                  <p class="text-reset">Easily find your favorite meals with smart search suggestions.</p>
                  <p class="text-reset">Explore top-rated dishes and add them to your favorites list.</p>
              </div>
            
              <!-- Third Column -->
              <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
                  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                  <p><i class="fa fa-home"></i> Sudarson Bharathwaaj</p>
                  <p><i class="fa fa-phone"></i> +91 7418396796</p>
                  <p><i class="fa fa-home"></i> Vijay</p>
                  <p><i class="fa fa-phone"></i> +91 7338758400</p>
              </div>
          </div>
      </div>
  </section>
  
    <div class="text-center p-4">
      
      &copy;  2024 Copyright <p class="text-reset fw-bold">Sudarson Bharathwaaj <br>
      Vijay</p>
    </div>
  </footer>